@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9612 0.0193 90.5421);
  --foreground: oklch(0.3786 0.0288 64.6646);
  --card: oklch(0.9914 0.0098 87.4695);
  --card-foreground: oklch(0.3786 0.0288 64.6646);
  --popover: oklch(0.9914 0.0098 87.4695);
  --popover-foreground: oklch(0.3786 0.0288 64.6646);
  --primary: oklch(0.6290 0.0951 64.0516);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.8889 0.0375 84.5807);
  --secondary-foreground: oklch(0.4348 0.0380 65.0109);
  --muted: oklch(0.9275 0.0247 83.4162);
  --muted-foreground: oklch(0.5432 0.0481 69.9775);
  --accent: oklch(0.8419 0.0521 88.5718);
  --accent-foreground: oklch(0.3786 0.0288 64.6646);
  --destructive: oklch(0.5577 0.1749 32.9855);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.8650 0.0394 83.8170);
  --input: oklch(0.8650 0.0394 83.8170);
  --ring: oklch(0.6290 0.0951 64.0516);
  --chart-1: oklch(0.6290 0.0951 64.0516);
  --chart-2: oklch(0.5680 0.0762 67.3309);
  --chart-3: oklch(0.4942 0.0692 72.0969);
  --chart-4: oklch(0.6844 0.0764 64.6237);
  --chart-5: oklch(0.7328 0.0720 66.3071);
  --sidebar: oklch(0.9275 0.0247 83.4162);
  --sidebar-foreground: oklch(0.3786 0.0288 64.6646);
  --sidebar-primary: oklch(0.6290 0.0951 64.0516);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.8419 0.0521 88.5718);
  --sidebar-accent-foreground: oklch(0.3786 0.0288 64.6646);
  --sidebar-border: oklch(0.8650 0.0394 83.8170);
  --sidebar-ring: oklch(0.6290 0.0951 64.0516);
  --font-sans: Libre Baskerville, serif;
  --font-serif: Lora, serif;
  --font-mono: IBM Plex Mono, monospace;
  --radius: 0.5rem;
  --shadow-2xs: 2px 3px 5px 0px hsl(26.2500 15.6863% 20% / 0.06);
  --shadow-xs: 2px 3px 5px 0px hsl(26.2500 15.6863% 20% / 0.06);
  --shadow-sm: 2px 3px 5px 0px hsl(26.2500 15.6863% 20% / 0.12), 2px 1px 2px -1px hsl(26.2500 15.6863% 20% / 0.12);
  --shadow: 2px 3px 5px 0px hsl(26.2500 15.6863% 20% / 0.12), 2px 1px 2px -1px hsl(26.2500 15.6863% 20% / 0.12);
  --shadow-md: 2px 3px 5px 0px hsl(26.2500 15.6863% 20% / 0.12), 2px 2px 4px -1px hsl(26.2500 15.6863% 20% / 0.12);
  --shadow-lg: 2px 3px 5px 0px hsl(26.2500 15.6863% 20% / 0.12), 2px 4px 6px -1px hsl(26.2500 15.6863% 20% / 0.12);
  --shadow-xl: 2px 3px 5px 0px hsl(26.2500 15.6863% 20% / 0.12), 2px 8px 10px -1px hsl(26.2500 15.6863% 20% / 0.12);
  --shadow-2xl: 2px 3px 5px 0px hsl(26.2500 15.6863% 20% / 0.30);
}

.dark {
  --background: oklch(0.2768 0.0173 55.5628);
  --foreground: oklch(0.9275 0.0247 83.4162);
  --card: oklch(0.3254 0.0199 60.6806);
  --card-foreground: oklch(0.9275 0.0247 83.4162);
  --popover: oklch(0.3254 0.0199 60.6806);
  --popover-foreground: oklch(0.9275 0.0247 83.4162);
  --primary: oklch(0.7328 0.0720 66.3071);
  --primary-foreground: oklch(0.2768 0.0173 55.5628);
  --secondary: oklch(0.3812 0.0223 58.8979);
  --secondary-foreground: oklch(0.9275 0.0247 83.4162);
  --muted: oklch(0.2947 0.0148 62.8186);
  --muted-foreground: oklch(0.8020 0.0301 82.5787);
  --accent: oklch(0.4189 0.0344 54.5806);
  --accent-foreground: oklch(0.9275 0.0247 83.4162);
  --destructive: oklch(0.5577 0.1749 32.9855);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.3812 0.0223 58.8979);
  --input: oklch(0.3812 0.0223 58.8979);
  --ring: oklch(0.7328 0.0720 66.3071);
  --chart-1: oklch(0.7328 0.0720 66.3071);
  --chart-2: oklch(0.6844 0.0764 64.6237);
  --chart-3: oklch(0.6290 0.0951 64.0516);
  --chart-4: oklch(0.5680 0.0762 67.3309);
  --chart-5: oklch(0.4942 0.0692 72.0969);
  --sidebar: oklch(0.2768 0.0173 55.5628);
  --sidebar-foreground: oklch(0.9275 0.0247 83.4162);
  --sidebar-primary: oklch(0.7328 0.0720 66.3071);
  --sidebar-primary-foreground: oklch(0.2768 0.0173 55.5628);
  --sidebar-accent: oklch(0.4189 0.0344 54.5806);
  --sidebar-accent-foreground: oklch(0.9275 0.0247 83.4162);
  --sidebar-border: oklch(0.3812 0.0223 58.8979);
  --sidebar-ring: oklch(0.7328 0.0720 66.3071);
  --shadow-2xs: 2px 3px 5px 0px hsl(26.2500 15.6863% 20% / 0.06);
  --shadow-xs: 2px 3px 5px 0px hsl(26.2500 15.6863% 20% / 0.06);
  --shadow-sm: 2px 3px 5px 0px hsl(26.2500 15.6863% 20% / 0.12), 2px 1px 2px -1px hsl(26.2500 15.6863% 20% / 0.12);
  --shadow: 2px 3px 5px 0px hsl(26.2500 15.6863% 20% / 0.12), 2px 1px 2px -1px hsl(26.2500 15.6863% 20% / 0.12);
  --shadow-md: 2px 3px 5px 0px hsl(26.2500 15.6863% 20% / 0.12), 2px 2px 4px -1px hsl(26.2500 15.6863% 20% / 0.12);
  --shadow-lg: 2px 3px 5px 0px hsl(26.2500 15.6863% 20% / 0.12), 2px 4px 6px -1px hsl(26.2500 15.6863% 20% / 0.12);
  --shadow-xl: 2px 3px 5px 0px hsl(26.2500 15.6863% 20% / 0.12), 2px 8px 10px -1px hsl(26.2500 15.6863% 20% / 0.12);
  --shadow-2xl: 2px 3px 5px 0px hsl(26.2500 15.6863% 20% / 0.30);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  ::selection {
    @apply bg-accent text-accent-foreground;
  }
}